<section
  id="home"
  class="relative overflow-hidden bg-opacity-50 bg-gradient-to-r from-blue-100 to-blue-50 pb-96 pt-40"
>
  <div class="container relative">
    <div class="text-center">
      <div class="mt-6 flex justify-center">
        <div class="max-w-2xl">
          <h1 class="mb-10 text-5xl/tight font-bold text-gray-800">
            Unlimited Platform to monitor your best workflow.
          </h1>
          <p class="mx-auto text-base text-gray-700 lg:max-w-md">
            Et harum quidem rerum facilis est et expedita distinctio nam libero
            tempore est nihil.
          </p>
        </div>
      </div>

      <div class="">
        <button
          class="relative mx-auto mt-10 flex items-center justify-center rounded-full bg-primary px-6 py-3.5 text-base font-medium text-white"
          data-hs-overlay="#watchvideomodal"
        >
          <i class="uil uil-play pe-2.5 text-2xl/none"></i>
          Watch Video
        </button>
      </div>
    </div>
  </div>

  <div
    class="shape absolute -bottom-[1px] end-0 start-0 overflow-hidden text-white sm:-bottom-px"
  >
    <svg
      class="h-auto w-full origin-top scale-[2.0]"
      viewBox="0 0 2880 48"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
        fill="currentColor"
      ></path>
    </svg>
  </div>
</section>

<div class="pb-24">
  <div class="relative z-10 mx-auto -mt-80 max-w-3xl px-6">
    <div class="hidden lg:block">
      <div
        class="absolute -end-5 -top-10 -z-[1] h-24 w-24 bg-[url('../public/assets/images/other/dot.svg')]"
      ></div>
      <div
        class="absolute -bottom-10 -start-5 -z-[1] h-24 w-24 bg-[url('../public/assets/images/other/dot2.svg')]"
      ></div>
    </div>
    <img
      src="assets/images/landing/saas/saas1.png"
      alt=""
      class="h-full w-full rounded-md"
    />
  </div>
</div>

<div
  id="watchvideomodal"
  class="hs-overlay fc-modal fixed left-0 top-0 z-[60] hidden h-full min-h-full w-full items-center transition-all duration-500 hs-overlay-open:flex"
>
  <div
    class="group relative flex-col overflow-hidden rounded-md bg-white opacity-0 shadow-sm transition-[opacity] duration-500 ease-out hs-overlay-open:opacity-100 sm:mx-auto sm:w-full sm:max-w-2xl"
  >
    <video id="VisaChipCardVideo" class="w-full" controls="">
      <source
        src="https://www.w3schools.com/html/mov_bbb.mp4"
        type="video/mp4"
      />
    </video>
  </div>
</div>
