<section
  class="relative flex h-screen items-center justify-center bg-[url(../public/assets/images/small/small-4.jpg)] bg-cover bg-center bg-no-repeat"
>
  <div class="absolute inset-0 h-full w-full bg-black/60"></div>

  <div class="container">
    <div class="">
      <div class="relative py-9 text-center text-white">
        <a routerLink="/" class="mb-10 flex items-center justify-center">
          <img src="assets/images/logo-sm.png" alt="" class="h-16" />
        </a>
        <div class="mx-auto max-w-3xl">
          <h2 class="mb-4 text-4xl font-bold capitalize">
            We Are Coming Soon...
          </h2>
          <p class="text-base font-medium text-gray-300">
            Welcome to our design portfolio our dedign and projects are fresh
            and simple. our design and code quality is very good.
          </p>
        </div>

        <div class="mt-10">
          <h3 class="text-2xl font-bold text-gray-300">
            Subscribe us to get notified!
          </h3>
          <div
            class="mx-auto max-w-xl rounded-md bg-white/20 backdrop-blur-2xl"
          >
            <form class="mt-7 flex w-full items-center justify-between">
              <input
                type="email"
                name="email"
                id="email"
                class="w-full border-0 bg-transparent p-4 text-sm text-white placeholder:text-white focus:outline-none focus:ring-0"
                placeholder="Enter Your Email"
                autocomplete="off"
              />
              <button
                type="button"
                class="me-2 rounded-md border-0 bg-white/10 px-6 py-2 text-sm font-semibold text-white backdrop-blur-2xl transition-all duration-500 hover:bg-primary/10 hover:text-primary"
              >
                <div class="flex items-center justify-center gap-1">
                  <span>Submit</span>
                  <i class="fa-solid fa-arrow-right"></i>
                </div>
              </button>
            </form>
          </div>
        </div>

        <div class="flex justify-center">
          <div class="relative mt-10">
            <h6 class="mb-4 text-center text-xl text-white">Follow Us:</h6>
            <ul class="flex flex-wrap items-center gap-6 font-maven">
              <li>
                <a
                  href="javascript:void(0);"
                  class="group inline-flex items-center justify-center text-base font-medium text-white transition-all duration-500 hover:text-blue-500"
                  ><i class="uil uil-facebook-f me-2 text-xl"></i> Facebook</a
                >
              </li>
              <li>
                <a
                  href="javascript:void(0);"
                  class="group inline-flex items-center justify-center text-base font-medium text-white transition-all duration-500 hover:text-pink-500"
                  ><i class="uil uil-instagram me-2 text-xl"></i> Instagram</a
                >
              </li>
              <li>
                <a
                  href="javascript:void(0);"
                  class="group inline-flex items-center justify-center text-base font-medium text-white transition-all duration-500 hover:text-sky-500"
                  ><i class="uil uil-skype-alt me-2 text-xl"></i> Skype</a
                >
              </li>
              <li>
                <a
                  href="javascript:void(0);"
                  class="group inline-flex items-center justify-center text-base font-medium text-white transition-all duration-500 hover:text-blue-800"
                  ><i class="uil uil-linkedin-alt me-2 text-xl"></i> Linkedin</a
                >
              </li>
            </ul>
            <button
              type="button"
              class="group mt-5 inline-flex items-center justify-center rounded-lg bg-white/20 px-6 py-2 backdrop-blur-2xl transition-all duration-500 hover:bg-primary/20 hover:text-primary"
              data-hs-overlay="#hs-vertically-centered-modal"
            >
              <i class="uil uil-phone-alt me-2 text-xl"></i> Contact Us
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
