<div id="hs-vertically-centered-modal"
  class="hs-overlay fixed left-0 top-0 z-[60] hidden h-full w-full overflow-y-auto overflow-x-hidden">
  <div
    class="m-3 mt-0 flex min-h-[calc(100%-3.5rem)] items-center opacity-0 transition-all ease-out hs-overlay-open:mt-7 hs-overlay-open:opacity-100 hs-overlay-open:duration-500 sm:mx-auto sm:w-full sm:max-w-screen-md">
    <div class="relative flex w-full flex-col rounded-lg bg-white shadow-sm">
      <div class="flex items-center justify-between">
        <div class="w-full overflow-y-auto p-6">
          <div class="">
            <div class="flex justify-between">
              <h4 class="mb-2 text-2xl/tight font-bold text-gray-800">
                Contact us
              </h4>
              <button type="button"
                className="inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-400 dark:focus:bg-neutral-600"
                aria-label="Close" data-hs-overlay="#hs-vertically-centered-modal">
                <i class="uil uil-multiply"></i>
              </button>
            </div>

            <p class="mb-6 text-base font-medium capitalize text-gray-500">
              Our design projects are fresh and simple and will benefit your
              business greatly. Learn more about our work!
            </p>
          </div>

          <form>
            <div class="grid grid-cols-2 gap-6">
              <div class="mb-4">
                <label class="mb-2 block text-base/normal font-semibold text-gray-600" for="forContactName">Name <span
                    class="text-sm text-primary">*</span></label>
                <input id="forContactName"
                  class="block w-full rounded-md border-gray-200 px-3 py-1.5 focus:border-gray-300 focus:ring-transparent"
                  type="text" placeholder="Your Name" />
              </div>
              <div class="mb-4">
                <label class="mb-2 block text-base/normal font-semibold text-gray-600" for="forContactLastName">Last
                  Name <span class="text-sm text-primary">*</span></label>
                <input id="forContactLastName"
                  class="block w-full rounded-md border-gray-200 px-3 py-1.5 focus:border-gray-300 focus:ring-transparent"
                  type="text" placeholder="Your Last Name" />
              </div>
              <div class="mb-4">
                <label class="mb-2 block text-base/normal font-semibold text-gray-600" for="forContactEmail">Email <span
                    class="text-sm text-primary">*</span></label>
                <input id="forContactEmail"
                  class="block w-full rounded-md border-gray-200 px-3 py-1.5 focus:border-gray-300 focus:ring-transparent"
                  type="email" placeholder="Your Email" />
              </div>
              <div class="mb-4">
                <label class="mb-2 block text-base/normal font-semibold text-gray-600" for="forContactSubject">Subject
                  <span class="text-sm text-primary">*</span></label>
                <input id="forContactSubject"
                  class="block w-full rounded-md border-gray-200 px-3 py-1.5 focus:border-gray-300 focus:ring-transparent"
                  type="text" placeholder="Your Subject" />
              </div>
              <div class="mb-4 lg:col-span-2">
                <label class="mb-2 block text-base/normal font-semibold text-gray-600" for="forContactComments">Comments
                  <span class="text-sm text-primary">*</span></label>
                <textarea id="forContactComments"
                  class="block w-full rounded-md border-gray-200 px-3 py-1.5 focus:border-gray-300 focus:ring-transparent"
                  rows="4" type="text" placeholder="Enter Your Message"></textarea>
              </div>
            </div>
            <div class="">
              <a href="javascript: void(0);"
                class="inline-flex items-center justify-center rounded-md border border-primary px-4 py-2 font-semibold text-primary transition-all duration-200 hover:bg-primary hover:text-white">Send
                Message <i class="uil uil-message ms-2"></i></a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>