<section id="speakers" class="py-20">
  <div class="container">
    <div class="mb-16 flex items-center justify-center">
      <div class="max-w-2xl text-center">
        <h5 class="mb-2 text-lg font-medium capitalize text-gray-800">
          Our <span class="font-semibold text-primary">Speakers</span>
        </h5>
        <h2 class="mb-1.5 text-3xl/snug font-bold capitalize text-gray-800">
          Event Speakers
        </h2>
        <p class="max-w-xl text-base font-medium text-gray-500">
          Sed ut perspiciatis unde omnis iste natus error voluptatem accusantium
          doloremque rem aperiam.
        </p>
      </div>
    </div>

    <div class="mt-8 grid grid-cols-1 gap-[30px] md:grid-cols-12">
      @for (item of eventSpeakers; track $index) {
        <div class="md:col-span-6 lg:col-span-3">
          <div class="group text-center">
            <div
              class="relative mx-auto inline-block overflow-hidden rounded-lg"
            >
              <img [src]="item.avatar" class="" alt="" />
              <div
                class="absolute inset-0 rounded-lg bg-gradient-to-b from-transparent to-black opacity-0 duration-500 group-hover:opacity-100"
              ></div>

              <div
                class="absolute -bottom-20 end-0 start-0 duration-500 group-hover:bottom-5"
              >
                <ul class="mb-4 space-x-2">
                  <li class="inline-block">
                    <a
                      href="javascript: void(0);"
                      class="inline-flex h-10 w-10 items-center justify-center rounded-lg bg-white text-center align-middle text-base tracking-wide duration-500"
                      ><lucide-icon
                        name="facebook"
                        class="h-5 w-5 fill-primary/25 text-primary"
                      ></lucide-icon
                    ></a>
                  </li>
                  <li class="inline-block">
                    <a
                      href="javascript: void(0);"
                      class="inline-flex h-10 w-10 items-center justify-center rounded-lg bg-white text-center align-middle text-base tracking-wide duration-500"
                      ><lucide-icon
                        name="instagram"
                        class="h-5 w-5 fill-pink-500/25 text-pink-500"
                      ></lucide-icon
                    ></a>
                  </li>
                  <li class="inline-block">
                    <a
                      href="javascript: void(0);"
                      class="inline-flex h-10 w-10 items-center justify-center rounded-lg bg-white text-center align-middle text-base tracking-wide duration-500"
                      ><lucide-icon
                        name="twitter"
                        class="h-5 w-5 fill-sky-500/25 text-sky-500"
                      ></lucide-icon
                    ></a>
                  </li>
                </ul>
                <p class="text-base font-semibold text-white">
                  {{ item.role }}
                </p>
              </div>
            </div>

            <a
              href="javascript: void(0);"
              class="mt-3 block text-lg font-semibold duration-500 group-hover:text-primary"
              >{{ item.name }}</a
            >
          </div>
        </div>
      }
    </div>
  </div>
</section>
