<div class="grid lg:grid-cols-2">
  <div class="flex h-full flex-col p-10">
    <div class="pb-10">
      <a routerLink="/" class="flex justify-center">
        <img src="assets/images/logo-light.png" alt="dark logo" class="h-10" />
      </a>
    </div>

    <div class="my-auto pb-6 text-center">
      <div
        class="mx-auto mb-4 inline-flex h-28 w-28 items-center justify-center overflow-hidden rounded-full border border-white/20 bg-white/10 p-1.5"
      >
        <img
          src="assets/images/avatars/img-8.png"
          alt="avatar-img-8"
          class="h-full w-full rounded-full"
        />
      </div>
      <h4 class="mb-3 text-2xl font-bold text-white">Hi Alexa</h4>
      <p class="mx-auto mb-5 max-w-sm text-gray-300">
        Enter your password to access.
      </p>

      <form action="#" class="text-start">
        <div class="mb-4">
          <label
            for="password"
            class="mb-2 block text-base/normal font-semibold text-gray-200"
            >Password</label
          >
          <input
            class="block w-full rounded border-gray-200 border-white/10 bg-transparent px-3 py-1.5 text-white/80 focus:border-white/25 focus:ring-transparent"
            type="email"
            id="password"
            required=""
            placeholder="Enter your password"
          />
        </div>

        <div class="mb-6 text-center">
          <button
            class="group mt-5 inline-flex w-full items-center justify-center rounded-lg bg-white/20 px-6 py-2 text-white backdrop-blur-2xl transition-all duration-500 hover:bg-primary/20 hover:text-primary"
            type="submit"
          >
            <i class="uil uil-navigator me-2 text-lg"></i>
            <span class="fw-bold">Log In</span>
          </button>
        </div>
      </form>

      <third-party-login />
    </div>
    <div class="w-full text-center">
      <p class="text-base font-medium leading-6 text-gray-300">
        Already have an account?
        <a routerLink="/auth/login" class="ms-1 font-semibold text-primary"
          >Log In</a
        >
      </p>
    </div>
  </div>
  <auth-swiper />
</div>
