<section
  id="blog"
  class="30 relative bg-primary/5 bg-[url('../public/assets/images/landing/directory/cta-bg.png')] bg-cover bg-no-repeat py-20"
>
  <div class="container">
    <div class="relative z-30">
      <div class="mb-14 flex items-center justify-center">
        <div class="max-w-2xl text-center">
          <h2 class="mb-1 text-3xl/snug font-bold capitalize text-gray-800">
            Latest Blog
          </h2>
          <p class="text-base text-gray-600">
            Sed ut perspiciatis unde ominis iste natus error voluptatem
            accusantium doloremque rem aperiam.
          </p>
        </div>
      </div>

      <div class="grid gap-4 px-4 sm:px-0 lg:grid-cols-2">
        @for (item of latestBlogs; track $index) {
          <div class="group space-y-6 overflow-hidden rounded-lg bg-white p-3">
            <div class="relative overflow-hidden rounded-lg">
              <img
                class="ransition mx-auto h-full w-full object-cover object-top duration-500 group-hover:scale-105"
                [src]="item.image"
                alt="woman"
                loading="lazy"
                width="640"
                height="805"
              />
              <div class="absolute inset-0">
                <div class="h-full w-full rounded bg-black/60">
                  <div class="flex h-full items-end p-4">
                    <div>
                      <p class="mb-2 font-semibold text-white">
                        {{ item.date }}
                      </p>
                      <h5 class="mb-2 text-3xl font-bold text-white">
                        {{ item.title }}
                      </h5>
                      <p
                        class="mb-8 truncate whitespace-nowrap text-base font-semibold text-gray-100 md:whitespace-normal"
                      >
                        {{ item.description }}
                      </p>
                      <a
                        href="javascript: void(0);"
                        class="border-b border-dashed border-gray-200 pb-1 text-white"
                        >Read More
                        <lucide-icon
                          name="move-right"
                          class="ms-2 inline h-4 w-4"
                        ></lucide-icon
                      ></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        }
      </div>

      <div class="mt-14 flex items-center justify-center">
        <a
          href="#"
          class="inline-flex items-center justify-center rounded-md border border-dashed border-primary px-4 py-2 font-semibold text-primary transition-all duration-200 hover:bg-primary hover:text-white"
          >Load More
          <lucide-icon name="loader" class="ms-2 inline h-5 w-5"></lucide-icon
        ></a>
      </div>
    </div>
  </div>
</section>
