<section id="service" class="py-24">
  <div class="container">
    <div class="mb-14 flex items-center justify-center">
      <div class="max-w-2xl text-center">
        <h5 class="mb-2 text-lg font-medium capitalize text-gray-800">
          Insight <span class="font-semibold text-primary">Edge</span>
        </h5>
        <h2 class="mb-1 text-3xl/snug font-bold capitalize text-gray-800">
          Benefits of Insight Edge for Small Business
        </h2>
      </div>
    </div>

    <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
      <div class="bg-white p-6">
        <img src="assets/images/landing/rbc/icons/rbc-shopping-cart.png" alt="" width="80px" height="80px">
        <h5 class="mt-5 text-xl font-medium text-gray-800">Track shopping behaviour</h5>
        <p class="mt-4 text-base text-slate-600">
          Gain a deeper understanding of customer purchase trends to tailor inventory, promotions, and services based on actual spending patterns.
        </p>
      </div>

      <div class="bg-white p-6">
        <img src="assets/images/landing/rbc/icons/rbc-review.png" alt="" width="80px" height="80px">
        <h5 class="mt-5 text-xl font-medium text-gray-800">Reach your customers</h5>
        <p class="mt-4 text-base text-slate-600">
          Identify who your customers are, where they’re coming from, and how to better engage them through targeted marketing strategies.
        </p>
      </div>

      <div class="bg-white p-6">
        <img src="assets/images/landing/rbc/icons/rbc-house-blue.png" alt="" width="80px" height="80px">
        <h5 class="mt-5 text-xl font-medium text-gray-800">Make informed real estate decisions</h5>
        <p class="mt-4 text-base text-slate-600">
          Use location-based insights to evaluate potential store locations, expansion opportunities, or site closures with greater confidence.
        </p>
      </div>

      <div class="bg-white p-6">
        <img src="assets/images/landing/rbc/icons/rbc-hours.png" alt="" width="80px" height="80px">
        <h5 class="mt-5 text-xl font-medium text-gray-800">
          Optimize store hours and staffing
        </h5>
        <p class="mt-4 text-base text-slate-600">
          Align staffing and store hours with peak customer traffic to improve efficiency, reduce costs, and enhance customer service.
        </p>
      </div>

      <div class="bg-white p-6">
        <img src="assets/images/landing/rbc/icons/rbc-business.png" alt="" width="80px" height="80px">
        <h5 class="mt-5 text-xl font-medium text-gray-800">Know your Business</h5>
        <p class="mt-4 text-base text-slate-600">
          Access easy-to-read dashboards that reveal business performance trends and help guide operational and strategic planning.
        </p>
      </div>

      <div class="bg-white p-6">
        <img src="assets/images/landing/rbc/icons/rbc-map.png" alt="" width="80px" height="80px">
        <h5 class="mt-5 text-xl font-medium text-gray-800">Compare your Locations</h5>
        <p class="mt-4 text-base text-slate-600">
          Benchmark store performance across multiple locations to uncover high-performers and areas needing improvement.
        </p>
      </div>
    </div>
  </div>
</section>
