<section
  id="home"
  class="relative overflow-hidden bg-[url(/assets/images/bg.jpg)] bg-cover bg-no-repeat py-72"
>
  <div class="absolute inset-0 bg-black/80 bg-cover bg-center"></div>

  <div class="container relative">
    <div class="text-center">
      <div class="mb-10 mt-6 flex justify-center">
        <div class="">
          <span
            class="mb-2 inline-block rounded-full border-x-2 border-x-primary bg-primary/20 px-2 text-lg font-semibold text-primary"
            >TailwindCss 3.3.3</span
          >
          <h1 class="mb-6 text-6xl/tight font-bold text-white">
            Opixo Modern website template <br />
            built for
            <span
              class="typewrite relative capitalize text-primary underline"
              [attr.data-period]="2000"
              [attr.data-type]="[
                'saas',
                'Event Managment',
                'Digital Payment',
                'Directory',
                'Coming Soon Pages',
              ]"
              ><span class="wrap">{{ currentText }}</span></span
            >
          </h1>
          <p class="mx-auto max-w-xl text-base font-medium text-gray-100">
            The Make your website or web application perfect starting point for
            your next project and the ultimate resource for learning how experts
            build real websites with Tailwind CSS.
          </p>
        </div>
      </div>

      <div class="">
        <a
          href="#demo"
          class="inline-flex items-center justify-center rounded-lg bg-white px-6 py-2 font-semibold text-black backdrop-blur-2xl transition-all duration-500"
        >
          View Demos <i class="uil uil-eye ms-2 text-xl"></i
        ></a>
      </div>
    </div>
  </div>
</section>
