<section
  class="relative flex items-center bg-[url(../public/assets/images/small/small-3.jpg)] bg-cover bg-right-bottom bg-no-repeat p-4 md:p-6 lg:h-screen"
>
  <div class="absolute inset-0 h-full w-full bg-black/60"></div>

  <div class="container">
    <div class="rounded-xl bg-white/20 backdrop-blur-2xl">
      <div class="grid items-center lg:grid-cols-2">
        <div class="relative order-2 p-8 text-white lg:order-1">
          <a routerLink="/" class="mb-10 flex items-center">
            <img src="assets/images/logo-sm.png" alt="" class="h-16" />
          </a>
          <div class="max-w-xl">
            <h2 class="mb-4 text-4xl font-bold capitalize">
              We Are Coming Soon...
            </h2>
            <p class="text-base font-medium text-gray-300">
              Welcome to our design portfolio our dedign and projects are fresh
              and simple. our design and code quality is very good.
            </p>
          </div>

          <div class="mt-10">
            <h3 class="text-2xl font-bold text-gray-300">
              Subscribe us to get notified!
            </h3>
            <div class="rounded-md bg-white/20 backdrop-blur-2xl">
              <form class="mt-7 flex w-full items-center justify-between">
                <input
                  type="email"
                  name="email"
                  id="email"
                  class="w-full border-0 bg-transparent p-4 text-sm placeholder:text-white focus:outline-none focus:ring-0"
                  placeholder="Enter Your Email"
                  autocomplete="off"
                />
                <button
                  class="me-2 rounded-md border-0 bg-white/10 px-6 py-2 text-sm font-semibold text-white backdrop-blur-2xl transition-all duration-500 hover:bg-black/40 hover:text-black"
                >
                  <div class="flex items-center justify-center gap-1">
                    <span>Submit</span>
                    <i class="fa-solid fa-arrow-right"></i>
                  </div>
                </button>
              </form>
            </div>
          </div>

          <div class="flex">
            <div class="relative mt-10">
              <h6 class="mb-4 text-xl text-white">Follow Us:</h6>
              <ul class="flex flex-wrap items-center gap-2">
                <li>
                  <a
                    href="javascript:void(0);"
                    class="group inline-flex h-10 w-10 items-center justify-center rounded-lg bg-white/20 backdrop-blur-2xl transition-all duration-500 hover:bg-primary/60"
                    ><i
                      class="uil uil-facebook-f text-xl text-white group-hover:text-white"
                    ></i
                  ></a>
                </li>
                <li>
                  <a
                    href="javascript:void(0);"
                    class="group inline-flex h-10 w-10 items-center justify-center rounded-lg bg-white/20 backdrop-blur-2xl transition-all duration-500 hover:bg-pink-600/60"
                    ><i
                      class="uil uil-instagram text-xl text-white group-hover:text-white"
                    ></i
                  ></a>
                </li>
                <li>
                  <a
                    href="javascript:void(0);"
                    class="group inline-flex h-10 w-10 items-center justify-center rounded-lg bg-white/20 backdrop-blur-2xl transition-all duration-500 hover:bg-sky-600/60"
                    ><i
                      class="uil uil-skype-alt text-xl text-white group-hover:text-white"
                    ></i
                  ></a>
                </li>
                <li>
                  <a
                    href="javascript:void(0);"
                    class="group inline-flex h-10 w-10 items-center justify-center rounded-lg bg-white/20 backdrop-blur-2xl transition-all duration-500 hover:bg-blue-800/60"
                    ><i
                      class="uil uil-linkedin-alt text-xl text-white group-hover:text-white"
                    ></i
                  ></a>
                </li>
              </ul>
              <button
                type="button"
                class="group mt-5 inline-flex items-center justify-center rounded-lg bg-white/20 px-6 py-2 backdrop-blur-2xl transition-all duration-500 hover:bg-primary/20 hover:text-primary"
                data-hs-overlay="#hs-vertically-centered-modal"
              >
                <i class="uil uil-phone-alt me-2 text-xl"></i> Contact Us
              </button>
            </div>
          </div>
        </div>

        <div class="order-1 h-full w-full p-8 lg:order-2">
          <img
            src="assets/images/soon/img-soon-2.jpg"
            alt=""
            class="h-full w-full rounded-lg"
          />
        </div>
      </div>
    </div>
  </div>
</section>
