<section class="relative py-28">
  <div class="container px-1 sm:px-[32px]">
    <div
      class="absolute inset-0 bg-[url('../public/assets/images/landing/directory/cta-bg.jpg')] bg-cover bg-center bg-no-repeat"
    >
      <div class="relative z-30 h-full w-full bg-black/60"></div>
    </div>
    <div class="flex justify-center">
      <div class="max-w-2xl">
        <div class="relative z-30 text-center">
          <h5 class="mb-2 text-lg font-medium capitalize text-white">
            Find the <span class="font-semibold text-primary">best place</span>
          </h5>
          <h2 class="mb-1 text-5xl/snug font-bold capitalize text-white">
            Tour & Farm House
          </h2>
          <p class="mb-10 text-base text-white">
            At vero eos accusamus a iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptayum deleniti corrupti quos dolores
            quas molestias excepturi occaecati cupiditate provident
            facilisestetsit expedita distinctio.
          </p>
          <a
            href="javascript:void(0);"
            class="rounded-md bg-white/90 px-6 py-3 text-primary transition-all duration-700 hover:bg-white"
            >Get Started</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
