<div class="hidden lg:block h-full">
  <div class="relative overflow-hidden h-full">
    <img
      src="assets/images/auth-img.jpg"
      alt=""
      class="max-h-full max-w-full -scale-x-100 transform"
    />
    <div class="absolute inset-0 bg-black/70">
      <div class="flex h-full items-end justify-center">
        <div class="swiper auth-swiper rounded-xl">
          <swiper-container [config]="swiperConfig" init="false" class="swiper-wrapper">
            <swiper-slide class="swiper-slide rounded-xl">
              <div class="flex h-full items-end justify-center">
                <div class="mb-10 p-6 text-center">
                  <h5 class="mb-3 text-xl font-bold text-white">
                    Start journey with us.
                  </h5>
                  <p class="text-base font-medium text-gray-300">
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium.
                  </p>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide class="swiper-slide rounded-xl">
              <div class="flex h-full items-end justify-center">
                <div class="mb-10 p-6 text-center">
                  <h5 class="mb-3 text-xl font-bold text-white">
                    Let's help to run your buiness.
                  </h5>
                  <p class="text-base font-medium text-gray-300">
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium.
                  </p>
                </div>
              </div>
            </swiper-slide>

            <swiper-slide class="swiper-slide rounded-xl">
              <div class="flex h-full items-end justify-center">
                <div class="mb-10 p-6 text-center">
                  <h5 class="mb-3 text-xl font-bold text-white">
                    Change the quality of your buiness.
                  </h5>
                  <p class="text-base font-medium text-gray-300">
                    Sed ut perspiciatis unde omnis iste natus error sit
                    voluptatem accusantium.
                  </p>
                </div>
              </div>
            </swiper-slide>
          </swiper-container>
          <div
            id="swiper-pagination"
            class="swiper-pagination !-start-0 z-10"
          ></div>
        </div>
      </div>
    </div>
  </div>
</div>
