<footer class="bg-slate-900 bg-center bg-no-repeat">
  <div class="h-[75px] border-t border-slate-700/20">
    <div
      class="container flex h-full flex-wrap items-center justify-center text-center md:justify-between md:text-start lg:px-20"
    >
      <p class="text-base font-medium text-gray-400">
        {{ currentYear }} © Opixo -
        <a href="#"
          >Design crafted
          <lucide-angular
            name="heart"
            class="inline h-4 w-4 fill-red-500 text-red-500"
          ></lucide-angular>
          by Coderthemes.com</a
        >
      </p>
      <div class="flex flex-wrap items-center gap-2">
        <div>
          <a
            href="javascript:void(0);"
            target="_blank"
            class="group inline-flex h-10 w-10 items-center justify-center rounded-lg bg-slate-800 transition-all duration-500 hover:bg-primary"
            ><lucide-angular
              name="facebook"
              class="h-5 w-5 text-gray-400 group-hover:fill-white/30 group-hover:text-white"
            ></lucide-angular
          ></a>
        </div>
        <div>
          <a
            href="javascript:void(0);"
            target="_blank"
            class="group inline-flex h-10 w-10 items-center justify-center rounded-lg bg-slate-800 transition-all duration-500 hover:bg-pink-600"
            ><lucide-angular
              name="instagram"
              class="h-5 w-5 text-gray-400 group-hover:fill-white/30 group-hover:text-white"
            ></lucide-angular
          ></a>
        </div>
        <div>
          <a
            href="javascript:void(0);"
            target="_blank"
            class="group inline-flex h-10 w-10 items-center justify-center rounded-lg bg-slate-800 transition-all duration-500 hover:bg-sky-600"
            ><lucide-angular
              name="twitter"
              class="h-5 w-5 text-gray-400 group-hover:fill-white/30 group-hover:text-white"
            ></lucide-angular
          ></a>
        </div>
        <div>
          <a
            href="javascript:void(0);"
            target="_blank"
            class="group inline-flex h-10 w-10 items-center justify-center rounded-lg bg-slate-800 transition-all duration-500 hover:bg-blue-800"
            ><lucide-angular
              name="linkedin"
              class="h-5 w-5 text-gray-400 group-hover:fill-white/30 group-hover:text-white"
            ></lucide-angular
          ></a>
        </div>
      </div>
    </div>
  </div>
</footer>
