<section
  id="home"
  class="relative overflow-hidden bg-[url('../public/assets/images/landing/event/hero-bg.jpg')] bg-cover bg-fixed bg-center bg-no-repeat py-64"
>
  <div class="absolute inset-0 h-full w-full bg-black/25"></div>
  <div class="absolute inset-0 bg-black/70"></div>

  <div class="container">
    <div class="relative text-center">
      <span class="rounded-md bg-white/20 px-4 py-[5px] font-medium text-white">
        1 <sup>th</sup> Show, 01 January 2023
      </span>
      <h1 class="my-8 text-4xl font-extrabold text-white lg:text-6xl">
        Event Management
      </h1>
      <div class="flex justify-center">
        <div class="max-w-xl text-center">
          <p class="font-semibold text-white">
            Itaque earum rerum tenetur a sapiente delectus reiciendis
            voluptatibus maiores alias perferendis doloribus asperiores.
          </p>
        </div>
      </div>

      <div class="flex justify-center">
        <div class="relative mt-14">
          <div class="">
            <div
              class="flex flex-wrap items-center justify-center gap-x-4 gap-y-4 sm:gap-x-0"
            >
              <div
                class="inline-flex h-24 w-24 flex-col items-center justify-center rounded-lg border-2 border-dashed px-3 py-2 font-bold text-white"
              >
                <span id="days" class="text-3xl">00</span>
                <span class="text-base">Days</span>
              </div>
              <div class="mx-4 hidden text-2xl font-bold text-white sm:block">
                :
              </div>
              <div
                class="inline-flex h-24 w-24 flex-col items-center justify-center rounded-lg border-2 border-dashed px-3 py-2 font-bold text-white"
              >
                <span id="hours" class="text-3xl">00</span>
                <span class="text-base">Hours</span>
              </div>
              <div class="mx-4 hidden text-2xl font-bold text-white sm:block">
                :
              </div>
              <div
                class="inline-flex h-24 w-24 flex-col items-center justify-center rounded-lg border-2 border-dashed px-3 py-2 font-bold text-white"
              >
                <span id="minutes" class="text-3xl">00</span>
                <span class="text-base">Minutes</span>
              </div>
              <div class="mx-4 hidden text-2xl font-bold text-white sm:block">
                :
              </div>
              <div
                class="inline-flex h-24 w-24 flex-col items-center justify-center rounded-lg border-2 border-dashed px-3 py-2 font-bold text-white"
              >
                <span id="seconds" class="text-3xl">00</span>
                <span class="text-base">Seconds</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex justify-center">
      <div class="relative mt-20">
        <a
          href="#price"
          class="rounded-lg bg-white px-9 py-3 text-xl font-medium text-primary transition-all duration-500 hover:shadow-white/10"
          >Register Now</a
        >
      </div>
    </div>
  </div>
</section>
