<section id="home" class="relative overflow-hidden py-56">
  <span
    class="absolute inset-0 h-full w-full rounded-full bg-primary/20 blur-[500px]"
  ></span>
  <div class="container z-10">
    <div class="grid grid-cols-1 items-center gap-12 lg:grid-cols-2">
      <div class="">
        <span
          class="mb-3 inline-flex items-center gap-1.5 rounded-full bg-primary/10 px-3 py-1.5 text-xs font-bold uppercase text-primary"
        >
          <span class="inline-block h-1.5 w-1.5 rounded-full bg-primary"></span>
          Credit Card
        </span>
        <h1
          class="mb-4 max-w-lg text-4xl font-bold text-gray-900 md:text-5xl/tight"
        >
          Get Extraordinary Credit Card.
        </h1>
        <p class="text-slate-700 md:text-lg">
          This is a credit card to pay and send money easily over the world. You
          can add money from your credit and debit cards.
        </p>
        <div class="mt-10 flex flex-wrap items-center gap-5">
          <a
            href="#"
            class="rounded-md bg-primary px-7 py-3 font-medium text-white shadow hover:shadow-lg hover:shadow-primary/20 dark:shadow-primary/20"
            >Get started
            <lucide-icon
              name="trending-up"
              class="ms-2 inline h-5 w-5"
            ></lucide-icon
          ></a>
          <a href="#" class="flex items-center text-primary">
            <span
              class="me-2 flex h-11 w-11 items-center justify-center rounded-full bg-primary/20"
            >
              <i class="uil-caret-right"></i>
            </span>
            <span class="font-semibold">Watch Video</span>
          </a>
        </div>
      </div>
      <div class="mx-auto">
        <img src="assets/images/landing/payment/hero.png" alt="" />
      </div>
    </div>
  </div>
  <div
    class="absolute -bottom-[1px] end-0 start-0 overflow-hidden text-white sm:-bottom-px"
  >
    <svg
      class="w-full origin-top scale-[2.0]"
      viewBox="0 0 2880 48"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z"
        fill="currentColor"
      ></path>
    </svg>
  </div>
</section>
