<section
  id="features"
  class="relative bg-primary/5 py-24 after:absolute after:inset-0 after:-z-10 after:bg-[url(../public/assets/images/landing/payment/app_features_bg.png)] after:bg-cover after:bg-fixed after:blur-2xl"
>
  <div class="container">
    <div class="mb-16 flex items-center justify-center">
      <div class="max-w-2xl text-center">
        <h5 class="mb-2 text-lg font-medium capitalize text-gray-800">
          Details <span class="font-semibold text-primary">Features</span>
        </h5>
        <h2 class="mb-1.5 text-3xl/snug font-bold capitalize text-gray-800">
          Easy To Use Features
        </h2>
        <p class="max-w-xl text-base font-medium text-gray-500">
          Itaque earum rerum tenetur sapiente delectus aut reiciendis
          voluptatibus doloribus asperiores repellat.
        </p>
      </div>
    </div>

    <div class="space-y-32">
      <div class="grid grid-cols-1 gap-12 lg:grid-cols-2">
        <div class="h-full w-full">
          <img
            src="assets/images/landing/payment/fea-1.png"
            alt=""
            class="mx-auto max-h-full max-w-full"
          />
        </div>
        <div class="my-auto">
          <h2 class="mb-4 text-3xl font-bold text-gray-800">
            Security you can bank on.
          </h2>
          <div class="mb-8 flex flex-col">
            <p class="mb-6 pe-2 text-lg font-medium text-slate-500">
              Nullam accumsan lorem in dui. Cras ultricies mi eu turpis
              hendrerit fringilla.
            </p>
            <p class="mb-2 text-base font-medium text-slate-500">
              <i
                class="uil uil-check-circle me-1 align-middle text-xl text-primary"
              ></i>
              Cras ultricies turpis hendrerit fringilla.
            </p>
            <p class="mb-2 text-base font-medium text-slate-500">
              <i
                class="uil uil-check-circle me-1 align-middle text-xl text-primary"
              ></i>
              Maecenas tempus tellus condimentum rhoncus.
            </p>
            <p class="mb-2 text-base font-medium text-slate-500">
              <i
                class="uil uil-check-circle me-1 align-middle text-xl text-primary"
              ></i>
              Donec pede justo fringilla.
            </p>
            <p class="mb-2 text-base font-medium text-slate-500">
              <i
                class="uil uil-check-circle me-1 align-middle text-xl text-primary"
              ></i>
              Aenean commodo ligula eget dolor.
            </p>
            <p class="mb-2 text-base font-medium text-slate-500">
              <i
                class="uil uil-check-circle me-1 align-middle text-xl text-primary"
              ></i>
              Nulla consequat massa quis enim.
            </p>
          </div>

          <a
            href="#"
            class="relative inline-block rounded-md bg-primary px-6 py-2 text-center align-middle text-base font-semibold tracking-wide text-white ring-0 ring-primary ring-offset-2 ring-offset-white transition-all hover:ring-2"
            >Read More <i class="uil uil-angle-right-b ms-2 align-middle"></i
          ></a>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-12 lg:grid-cols-2">
        <div class="order-1 h-full w-full lg:order-2">
          <img
            src="assets/images/landing/payment/fea-2.png"
            alt=""
            class="mx-auto max-h-full max-w-full"
          />
        </div>

        <div class="order-2 my-auto lg:order-1">
          <h2 class="mb-4 text-3xl font-bold text-gray-800">
            Easily grow your business save more money.
          </h2>
          <div class="mb-8 flex flex-col">
            <p class="mb-6 pe-2 text-lg font-medium text-slate-500">
              Sed aliquam ultrices mauris. Integer ante arcu, accumsan a,
              consectetuer eget.
            </p>
            <p class="mb-2 text-base font-medium text-slate-500">
              <i
                class="uil uil-check-circle me-1 align-middle text-xl text-primary"
              ></i>
              Phasellus ullamcorper ipsum rutrum nunc.
            </p>
            <p class="mb-2 text-base font-medium text-slate-500">
              <i
                class="uil uil-check-circle me-1 align-middle text-xl text-primary"
              ></i>
              Aenean ut eros et nisl sagittis vestibulum.
            </p>
            <p class="mb-2 text-base font-medium text-slate-500">
              <i
                class="uil uil-check-circle me-1 align-middle text-xl text-primary"
              ></i>
              Donec mollis hendrerit risus.
            </p>
            <p class="mb-2 text-base font-medium text-slate-500">
              <i
                class="uil uil-check-circle me-1 align-middle text-xl text-primary"
              ></i>
              Phasellus nec sem in justo pellentesque facilisis.
            </p>
            <p class="mb-2 text-base font-medium text-slate-500">
              <i
                class="uil uil-check-circle me-1 align-middle text-xl text-primary"
              ></i>
              Praesent congue erat at massa. Sed cursus turpis vitae tortor.
            </p>
          </div>

          <a
            href="#"
            class="relative inline-block rounded-md bg-primary px-6 py-2 text-center align-middle text-base font-semibold tracking-wide text-white ring-0 ring-primary ring-offset-2 ring-offset-white transition-all hover:ring-2"
            >Read More <i class="uil uil-angle-right-b ms-2 align-middle"></i
          ></a>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-12 lg:grid-cols-2">
        <div class="h-full w-full">
          <img
            src="assets/images/landing/payment/fea-3.png"
            alt=""
            class="mx-auto max-h-full max-w-full"
          />
        </div>
        <div class="my-auto">
          <h2 class="mb-4 text-3xl font-bold text-gray-800">
            Mack paynents in minutes.
          </h2>
          <div class="mb-8 flex flex-col">
            <p class="mb-6 pe-2 text-lg font-medium text-slate-500">
              Praesent nonummy mi in odio. Nunc interdum lacus sit amet orci
              vestibulum rutrum, mi nec elementum vehicula.
            </p>
            <p class="mb-2 text-base font-medium text-slate-500">
              <i
                class="uil uil-check-circle me-1 align-middle text-xl text-primary"
              ></i>
              Vestibulum fringilla pede sit amet augue.
            </p>
            <p class="mb-2 text-base font-medium text-slate-500">
              <i
                class="uil uil-check-circle me-1 align-middle text-xl text-primary"
              ></i>
              In turpis Pellentesque posuere.
            </p>
            <p class="mb-2 text-base font-medium text-slate-500">
              <i
                class="uil uil-check-circle me-1 align-middle text-xl text-primary"
              ></i>
              Suspendisse pulvinar augue ac venenatis.
            </p>
            <p class="mb-2 text-base font-medium text-slate-500">
              <i
                class="uil uil-check-circle me-1 align-middle text-xl text-primary"
              ></i>
              Condimentum sem libero volutpat nibh.
            </p>
            <p class="mb-2 text-base font-medium text-slate-500">
              <i
                class="uil uil-check-circle me-1 align-middle text-xl text-primary"
              ></i>
              Nec pellentesque velit pede quis nunc.
            </p>
          </div>

          <a
            href="#"
            class="relative inline-block rounded-md bg-primary px-6 py-2 text-center align-middle text-base font-semibold tracking-wide text-white ring-0 ring-primary ring-offset-2 ring-offset-white transition-all hover:ring-2"
            >Read More <i class="uil uil-angle-right-b ms-2 align-middle"></i
          ></a>
        </div>
      </div>

      <div class="grid grid-cols-1 gap-12 lg:grid-cols-2">
        <div class="h-fullorder-1 w-full lg:order-2">
          <img
            src="assets/images/landing/payment/fea-4.png"
            alt=""
            class="mx-auto max-h-full max-w-full"
          />
        </div>

        <div class="order-2 my-auto lg:order-1">
          ">
          <h2 class="mb-4 text-3xl font-bold text-gray-800">
            Get paid up to 3x faster.
          </h2>
          <div class="mb-8 flex flex-col">
            <p class="mb-6 pe-2 text-lg font-medium text-slate-500">
              Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
              posuere cubilia.
            </p>
            <p class="mb-2 text-base font-medium text-slate-500">
              <i
                class="uil uil-check-circle me-1 align-middle text-xl text-primary"
              ></i>
              Maecenas vestibulum mollis diam.
            </p>
            <p class="mb-2 text-base font-medium text-slate-500">
              <i
                class="uil uil-check-circle me-1 align-middle text-xl text-primary"
              ></i>
              Pellentesque habitant morbi tristique senectus.
            </p>
            <p class="mb-2 text-base font-medium text-slate-500">
              <i
                class="uil uil-check-circle me-1 align-middle text-xl text-primary"
              ></i>
              In ac felis quis tortor malesuada pretium.
            </p>
            <p class="mb-2 text-base font-medium text-slate-500">
              <i
                class="uil uil-check-circle me-1 align-middle text-xl text-primary"
              ></i>
              Pellentesque auctor neque nec urna.
            </p>
            <p class="mb-2 text-base font-medium text-slate-500">
              <i
                class="uil uil-check-circle me-1 align-middle text-xl text-primary"
              ></i>
              Curabitur at lacus ac velit ornare lobortis.
            </p>
          </div>

          <a
            href="javascript: void(0);"
            class="relative inline-block rounded-md bg-primary px-6 py-2 text-center align-middle text-base font-semibold tracking-wide text-white ring-0 ring-primary ring-offset-2 ring-offset-white transition-all hover:ring-2"
            >Read More <i class="uil uil-angle-right-b ms-2 align-middle"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
